<sp-wrapper>
    <div class="container">
        <div class="about-section">

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-6 --title-about">
                        <div class="card-body">
                            <h1 class="card-title">Quem Somos.</h1>
                            <hr class="divider">
                            <button class="btn">Veja mais.</button>

                       
                         
                        </div>
                    </div>
                    <div class="col-md-6 --description-about">
                        <div class="card-body">
    
                            <div class="card-text d-flex flex-column">
                                <p>
                                    A Consultoria Solar Psique é uma empresa baiana, especializada em serviços organizacionais e de saúde. Oferecemos soluções abrangentes para demandas organizacionais, atendimento clínico e ocupacional.
                                </p>
                                <p>
                                    Nosso compromisso é fornecer serviços de alta qualidade com ética e transparência.
                                </p>
                            </div>
                             
                            
                       
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</sp-wrapper>