:root {
    // font family
    --sp-font-family-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";

    --sp-font-size-base: 1rem;
    --sp-font-letter-spacing: 0.8px;
    --sp-font-word-spacing: 15px;
}