<sp-wrapper>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="localization-section">
                    <div class="title">
                        Localização
                    </div>
                    <div class="col-12">
                        <div class="localization-text">
                            <a class="localization-link" href="https://maps.app.goo.gl/AHgfus8Q4SBmMjj77" target="_blank">R. Frederico Costa, 60 - sala 103. Engenho Velho de Brotas, Salvador - BA, 40243-045</a>    
                        </div>
                    </div>


                </div>
                <div class="contact-section">
                    <div class="title">
                        Contato
                    </div>
                    <div class="col-12">
                        <div class="contact-text">
                            <a class="contact-link" href="https://wa.me/5571982569736" target="_blank">(71)9 8256-9736</a>    
                        </div>
                    </div>


                </div>
            </div>
        </div>
     
    </div>
</sp-wrapper>