.management-solution-section{
    .title{
        font-size: calc(var(--sp-font-size-base) + 2rem);
        font-weight: 300;
        color: var(--sp-color-green-primary);
        margin-bottom: 20px;
    }
}